name: Generate family and faq HTML

on:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/generate.yml'
      - 'workflows/scripts/gen-family.js'
      - 'workflows/scripts/gen-faq.js'
      - '.template.html'
      - 'family.template.html'
      - 'family.yaml'
      - 'faq/**/*.md'
      - 'faq/.template.html'
  pull_request:
    paths:
      - '.github/workflows/generate.yml'
      - 'workflows/scripts/gen-family.js'
      - 'workflows/scripts/gen-faq.js'
      - '.template.html'
      - 'family.template.html'
      - 'family.yaml'
      - 'faq/**/*.md'
      - 'faq/.template.html'

permissions:
  contents: write

jobs:
  gen:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '>=23.1.0'

    - name: Install dependencies
      run: npm install
    
    - name: Generate HTML
      run: npm run build

    - name: Commit and push changes
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        test -z "$(git status --porcelain)" && exit 0
        git add docs/*.html docs/faq/*.html
        git commit -m 'Generate Family and FAQ HTML'
        git push
